BasedOnStyle: LLVM

AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: false
    BeforeCatch: true
    BeforeElse: true
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
# AllowShortLambdasOnASingleLine: true
AllowShortBlocksOnASingleLine: true

SpaceBeforeCtorInitializerColon: false
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma

FixNamespaceComments: true

PointerAlignment: Left

AlignEscapedNewlines: Left
ColumnLimit: 0
IndentCaseLabels: true
IndentWidth: 4
IndentPPDirectives: AfterHash
SortIncludes: false
TabWidth: 4

SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Cpp11
